<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Order Detail</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/fragments.css}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .container-fluid input {
            align-content: center;
            width: 80px;
            margin: 0 auto;
            text-align: right;
        }

        .card-description {
            width: 100%;
            margin-top: 50px;
        }

        .container {
            width: 100%;
            text-align: center;
        }
    </style>
</head>
<body>
<div class="header">
    <div th:replace="~{fragments/header :: header}"></div>
</div>

<div class="container">

    <a href="/"><h2>DRESS SHOP</h2></a>
    <br/>

    <h3>주문 상세</h3>
    <hr/>
    <br/> <br/>

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-6">
                <div class="card">
                    <div th:each="orderDetail : ${order}">
                        <img th:src="@{'/images/' + ${orderDetail.imgName}}" class="card-img-top" alt="상품 이미지"/>
                        <div class="card-body">
                            <h5 class="card-title"></h5>
                            <p class="card-text" th:text="${orderDetail.item.itemName}"></p>
                            <p class="card-text" th:text="${orderDetail.item.price} + '원'"></p>
                            <form th:action="@{/order}" method="post">
                                <input type="hidden" name="itemId" th:value="${orderDetail.itemId}"/>
                                <input type="hidden" name="count" th:value="${orderDetail.count}"/>
                                <div class="form-group">
                                    <label for="quantity">수량</label>
                                    <input type="number" class="form-control"
                                           id="quantity" name="quantity"
                                           th:value="${orderDetail.count}" readonly/>
                                </div>
                                <button type="button" class="btn btn-danger"
                                        th:onclick="'removeImage(' + ${orderDetail.itemId} + ')'">주문 취소</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="footer">
    <div th:replace="~{fragments/footer :: footer}"></div>
</div>
</body>

<script>
    function removeImage(itemId) {
        if (confirm("주문을 취소하시겠습니까?")) {
            location.href = "/orderList/cancel/" + itemId;
        }
    }
</script>
</html>