<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Join</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .fieldError {
            border-color: crimson;
        }
    </style>
</head>
<body>
<div class="container">
    <a href="/" class="btn btn-primary"><h2>Home</h2></a>
    <br />

    <h3>회원 가입</h3>

    <form role="form" action="/join" th:object="${memberForm}" method="post">
        <div class="form-group">
            <label th:for="name">이름</label>
            <input type="text" th:field="*{name}" class="form-control" placeholder="이름을 입력하세요."
                   th:class="${#fields.hasErrors('name')}? 'form-control fieldError' : 'form-control'">
            <p th:if="${#fields.hasErrors('name')}"
               th:errors="*{name}"></p>
        </div>
        <div class="form-group">
            <label th:for="password">비밀번호</label>
            <input type="password" th:field="*{password}" class="form-control" placeholder="비밀번호를 입력하세요."
                   th:class="${#fields.hasErrors('password')}? 'form-control fieldError' : 'form-control'">
            <p th:if="${#fields.hasErrors('password')}"
               th:errors="*{password}"></p>
        </div>
        <div class="form-group">
            <label th:for="email">이메일</label>
            <input type="email" th:field="*{email}" class="form-control" placeholder="이메일을 입력하세요."
                   th:class="${#fields.hasErrors('email')}? 'form-control fieldError' : 'form-control'">
            <p th:if="${#fields.hasErrors('email')}"
               th:errors="*{email}"></p>
        </div>
        <div class="form-group">
            <label th:for="tel">전화번호</label>
            <input type="text" th:field="*{tel}" class="form-control" placeholder="전화번호를 입력하세요."
                   th:class="${#fields.hasErrors('tel')}? 'form-control fieldError' : 'form-control'">
            <p th:if="${#fields.hasErrors('tel')}"
               th:errors="*{tel}"></p>
        </div>
        <button type="submit" class="btn btn-primary">가입</button>
    </form>
</div>
</body>