<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cart List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/fragments.css}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .container-fluid input {
            align-content: center;
            width: 80px;
            margin: 0 auto;
            text-align: right;
        }

        .container {
            width: 100%;
            text-align: center;
            margin-bottom: 50px;
        }
    </style>
</head>
<body>
<div class="header">
    <div th:replace="~{fragments/header :: header}"></div>
</div>

<div class="container">

    <a href="/"><h2>DRESS SHOP</h2></a>
    <br/>

    <h3>장바구니</h3>
    <hr/>
    <br/> <br/>

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-6">
                <form th:action="@{/order}" method="post">
                    <div class="card">
                        <div th:each="cartDetail : ${cartList}" th:id="'cartItem_' + ${cartDetail.id}"
                             th:if="${cartList.size() > 0}">
                            <div class="card-body" id="cartItem_[[${cartItem.id}]]">
                                <img th:src="@{'/images/' + ${cartDetail.imgName}}" class="card-img-top" alt="상품 이미지"/>
                                <h5 class="card-title" th:text="${cartDetail.item.itemName}"></h5>
                                <p class="card-text unitPrice" th:text="${cartDetail.item.price} + '원'"></p>
                                <div class="form-group" style="text-align: center;">
                                    <label for="count">수량</label>
                                    <input type="number" class="form-control count" id="count" name="count" th:value="${cartDetail.count}" min="1" max="100" onchange="updateTotalPrice()"/>
                                </div>
                                <button type="button" class="btn btn-danger removeButton"
                                        th:onclick="'removeCartItem(' + ${cartDetail.id} + ')'">장바구니에서 제외</button>
                            </div>
                            <div th:if="${cartList.size() == 0 or cartList == null}">
                                <p>장바구니에 담긴 상품이 없습니다.</p>
                            </div>
                        </div>
                    </div>
                </form>
                <br />

                <div class="order" th:unless="${#lists.isEmpty(cartList)}">
                    <h4>총 주문 금액</h4>
                    <h4><span class="totalPrice" th:text="${totalPrice}"></span> 원</h4>
                    <button type="button" class="btn btn-primary"
                            onclick="location.href='/order'">주문하기</button>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    function removeCartItem(cartItemId) {
        var confirmation = confirm("장바구니에서 제외하시겠어요?");

        if (confirmation) {
            var url = '/cart/delete/' + cartItemId;
            console.log(cartItemId);

            fetch(url, {
                method: 'DELETE'
            })
            .then(response => {
                if (response.ok) {
                    var cartItemElement = document.getElementById('cartItem_' + cartItemId);
                    if (cartItemElement) {
                        cartItemElement.remove();
                        updateTotalPrice();
                    }
                } else {
                    alert('상품을 제외하는 데 문제가 발생했습니다.');
                }
            })
                .catch(error => console.error('Error removing item:', error));
        }
    }

    document.addEventListener("DOMContentLoaded", function() {
        var removeForms = document.querySelectorAll(".removeForm");

        removeForms.forEach(function(form) {
            var countInput = form.querySelector(".count");

            countInput.addEventListener("change", function() {
                updateTotalPrice();
            });
        });
    });

    function updateTotalPrice() {
        var totalPrice = 0;

        var unitPriceElements = document.querySelectorAll(".unitPrice");
        var countInputs = document.querySelectorAll(".count");

        for (var i = 0; i < unitPriceElements.length; i++) {
            var unitPrice = parseInt(unitPriceElements[i].innerText.replace("원", ""));
            var count = parseInt(countInputs[i].value);

            totalPrice += unitPrice * count;
        }

        var totalPriceElements = document.querySelectorAll(".totalPrice");
        totalPriceElements.forEach(function(totalPriceElement) {
            totalPriceElement.innerText = totalPrice;
        });
    }
</script>

<div class="footer">
    <div th:replace="~{fragments/footer :: footer}"></div>
</div>
</body>
</html>