<html>
    <title>Home</title>
<body>
    <div class="container">
        <div class="home">
            <h1>DRESS SHOP</h1>
            <p>
                <a href="/join">회원 가입</a>
                <a href="/login">로그인</a>
            </p>
            <p class="lead">상품 둘러보기</p>
            <p>
                <a href="/items/itemList">상품 목록</a>
            </p>
            <p class="lead">주문은 여기!</p>
            <p>
                <a href="/order">상품 주문</a>
                <a href="/orderList">주문 내역</a>
            </p>
        </div>
    </div>
</body>
</html>