<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>DRESS SHOP</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .home {
            text-align: center;
            margin-top: 100px;
        }
    </style>
</head>
    <div class="container">
        <div class="home">
            <h1>DRESS SHOP</h1>
            <p>옷을 사고 팔 수 있는 쇼핑몰입니다.</p>
            <a href="/join" class="btn btn-primary">회원 가입</a>
            <a href="/loginForm" class="btn btn-secondary">로그인</a>
            <br />
            <br />
            <a href="/items/itemList" class="btn btn-info">상품 목록</a>
        </div>
    </div>
</body>
</html>