<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Category List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <a href="/" class="btn btn-primary"><h2>Home</h2></a>
    <br />
    <h3>카테고리 목록</h3>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>번호</th>
            <th>카테고리 이름</th>
            <th>수정</th>
            <th>삭제</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="category : ${categories}">
            <td th:text="${category.id}"></td>
            <td th:text="${category.categoryName}"></td>
            <td>
                <a th:href="@{/admin/category/edit/{categoryId} (id=${category.id})}">수정</a>
            </td>
            <td>
                <a th:href="@{/admin/category/{categoryId}/delete (id=${category.id})}">삭제</a>
            </td>
        </tr>
        </tbody>
    </table>
    <a href="/admin/category/save" class="btn btn-primary">카테고리 추가</a>
</div>
</body>
</html>