<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Category Edit Form</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/fragments.css}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .fieldError {
            border-color: crimson;
        }
    </style>
</head>

<body>
<div class="header">
    <div th:replace="~{fragments/header :: header}"></div>
</div>

<div class="container">
    <a href="/"><h1>DRESS SHOP</h1></a>
    <br /> <br />

    <h3>카테고리 수정</h3>
    <hr />

    <form role="form" th:action="@{/admin/category/edit/{categoryId} (categoryId=${editForm.id})}"
          th:object="${editForm}" th:method="put">

        <div class="form-group">
            <label for="categoryName">카테고리 이름</label>
            <input type="text" class="form-control" id="categoryName" name="categoryName" th:value="*{categoryName}"
                   th:class="${#fields.hasErrors()}? 'form-control fieldError' : 'form-control'">
            <p th:if="${#fields.hasErrors()}" th:errors="*{categoryName}"></p>
        </div>

        <button type="submit" class="btn btn-primary">수정</button>
    </form>
</div>

<div class="footer">
    <div th:replace="~{fragments/footer :: footer}"></div>
</div>
</body>
</html>