<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Member List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/fragments.css}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
<div class="header">
    <div th:replace="~{fragments/header :: header}"></div>
</div>

<div class="container">
    <a href="/"><h1>DRESS SHOP</h1></a>
    <br /> <br />

    <h3>회원 목록</h3>
    <hr />

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>번호</th>
            <th>이름</th>
            <th>연락처</th>
            <th>이메일</th>
            <th>삭제</th>
            <th>정지</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="member : ${members}">
            <td th:text="${member.id}"></td>
            <td th:text="${member.username}"></td>
            <td th:text="${member.tel}"></td>
            <td th:text="${member.email}"></td>
            <td>
                <a th:href="@{/admin/members/{memberId}/delete (memberId=${member.id})}"
                    style="color: darkred">삭제</a>
            </td>
            <td>
                <a th:href="@{/admin/members/{memberId}/disable (memberId=${member.id})}"
                    style="color: cornflowerblue">정지</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="footer">
    <div th:replace="~{fragments/footer :: footer}"></div>
</div>
</body>
</html>