<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Item Edit Form</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/fragments.css}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .fieldError {
            border-color: crimson;
        }

    </style>
</head>

<body>
<div class="header">
    <div th:replace="~{fragments/header :: header}"></div>
</div>

<div class="container">
    <a href="/"><h1>DRESS SHOP</h1></a>
    <br /> <br />

    <h3>상품 수정</h3>
    <hr />

    <form th:action="@{/admin/items/edit/{itemId} (itemId=${editForm.id})}"
          th:object="${editForm}" th:method="put">

        <div class="form-group">
            <label for="itemName">상품명</label>
            <input type="text" class="form-control" id="itemName" name="itemName" th:value="*{itemName}" required
                   th:class="${#fields.hasErrors()}? 'form-control fieldError' : 'form-control'">
            <p th:if="${#fields.hasErrors()}"
               th:errors="*{itemName}"></p>
        </div>

        <div class="form-group">
            <label for="price">상품 가격</label>
            <input type="text" class="form-control" id="price" name="price" th:value="*{price}" required
                   th:class="${#fields.hasErrors()}? 'form-control fieldError' : 'form-control'">
            <p th:if="${#fields.hasErrors()}"
               th:errors="*{price}"></p>
        </div>

        <div class="form-group">
            <label for="quantity">상품 수량</label>
            <input type="text" class="form-control" id="quantity" name="quantity" th:value="*{quantity}" required
                   th:class="${#fields.hasErrors()}? 'form-control fieldError' : 'form-control'">
            <p th:if="${#fields.hasErrors()}"
               th:errors="*{quantity}"></p>
        </div>

        <div class="form-group">
            <label th:for="categoryId">카테고리</label>
            <select th:field="*{categoryId}" class="form-control" required>
                <option value="">카테고리를 선택하세요.</option>
                <option th:each="category : ${categories}"
                        th:value="${category.id}"
                        th:selected="${category.id}"
                        th:text="${category.categoryName}"></option>
            </select>
        </div>

        <div class="form-group">
             <label th:for="itemSellStatus">판매 상태</label>
                <select th:field="*{itemSellStatus}" class="form-control" required>
                    <option value="">판매 상태를 선택하세요.</option>
                    <option value="SELL" th:selected="${editForm.itemSellStatus == 'SELL'}">판매중</option>
                    <option value="SOLD_OUT" th:selected="${editForm.itemSellStatus == 'SOLD_OUT'}">품절</option>
                    <option value="STOP_SELL" th:selected="${editForm.itemSellStatus == 'STOP_SELL'}">판매 중지</option>
                </select>
        </div>

        <button type="submit" class="btn btn-primary">수정</button>
    </form>
</div>

<div class="footer">
    <div th:replace="~{fragments/footer :: footer}"></div>
</div>
</body>
</html>