<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Item Edit Form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .fieldError {
            border-color: crimson;
        }
    </style>
</head>
<body>
<div class="container">

    <h3>상품 수정</h3>
    <form action="/admin/items/edit" th:object="${item}" method="post">
        <input type="hidden" name="id" th:value="${itemId}">
        <div class="form-group">
            <label for="name">상품 이름</label>
            <input type="text" class="form-control" id="name" name="name" th:value="*{itemName}" required
                   th:errors="${#fields.hasErrors()}? 'form-control fieldError' : 'form-control'">
            <p th:if="${#fields.hasErrors()}" th:errors="*{itemName}"></p>
        </div>
        <div class="form-group">
            <label for="price">상품 가격</label>
            <input type="text" class="form-control" id="price" name="price" th:value="*{price}" required
                   th:errors="${#fields.hasErrors()}? 'form-control fieldError' : 'form-control'">
            <p th:if="${#fields.hasErrors()}" th:errors="*{price}"></p>
        </div>
        <div class="form-group">
            <label for="quantity">상품 수량</label>
            <input type="text" class="form-control" id="quantity" name="quantity" th:value="*{quantity}" required
                   th:errors="${#fields.hasErrors()}? 'form-control fieldError' : 'form-control'">
            <p th:if="${#fields.hasErrors()}" th:errors="*{quantity}"></p>
        </div>
        <div class="form-group">
            <label for="category">상품 카테고리</label>
            <select class="form-control" id="category" name="category" required>
                <option th:each="category : ${categories}"
                        th:value="${category.id}"
                        th:selected="${category.id == item.category.id}"
                        th:text="${category.categoryName}"></option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">수정</button>
    </form>
</div>
</body>
</html>