<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Item Edit Form</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/fragments.css}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .fieldError {
            border-color: crimson;
        }
        .custom-input-style {
            align-content: center;
            width: 400px;
            margin: 0 auto;
        }
        .image-preview img {
            max-width: 100%;
            height: auto;
        }

    </style>
</head>

<body>
<div class="header">
    <div th:replace="~{fragments/header :: header}"></div>
</div>

<div class="container">
    <a href="/"><h1>DRESS SHOP</h1></a>
    <br /> <br />

    <h3>상품 수정</h3>
    <hr />

    <form enctype="multipart/form-data" th:action="@{/admin/items/edit/{itemId} (itemId=${editForm.id})}"
          th:object="${editForm}" th:method="put">

        <div class="form-group">
            <label for="itemName">상품명</label>
            <input type="text" class="form-control" id="itemName" name="itemName" th:value="*{itemName}" required
                   th:class="${#fields.hasErrors()}? 'form-control fieldError' : 'form-control'">
            <p th:if="${#fields.hasErrors()}"
               th:errors="*{itemName}"></p>
        </div>

        <div class="form-group">
            <label for="price">상품 가격</label>
            <input type="text" class="form-control" id="price" name="price" th:value="*{price}" required
                   th:class="${#fields.hasErrors()}? 'form-control fieldError' : 'form-control'">
            <p th:if="${#fields.hasErrors()}"
               th:errors="*{price}"></p>
        </div>

        <div class="form-group">
            <label for="quantity">상품 수량</label>
            <input type="text" class="form-control" id="quantity" name="quantity" th:value="*{quantity}" required
                   th:class="${#fields.hasErrors()}? 'form-control fieldError' : 'form-control'">
            <p th:if="${#fields.hasErrors()}"
               th:errors="*{quantity}"></p>
        </div>

        <div class="form-group">
            <label th:for="categoryId">카테고리</label>
            <select th:field="*{categoryId}" class="form-control" required>
                <option value="">카테고리를 선택하세요.</option>
                <option th:each="category : ${categories}"
                        th:value="${category.id}"
                        th:selected="${category.id}"
                        th:text="${category.categoryName}"></option>
            </select>
        </div>

        <div class="form-group">
             <label th:for="itemSellStatus">판매 상태</label>
                <select th:field="*{itemSellStatus}" class="form-control" required>
                    <option value="">판매 상태를 선택하세요.</option>
                    <option value="SELL" th:selected="${editForm.itemSellStatus == 'SELL'}">판매중</option>
                    <option value="SOLD_OUT" th:selected="${editForm.itemSellStatus == 'SOLD_OUT'}">품절</option>
                    <option value="STOP_SELL" th:selected="${editForm.itemSellStatus == 'STOP_SELL'}">판매 중지</option>
                </select>
        </div>

        <div class="form-group">
            <label th:for="itemImg">
                <button type="button" id="addImgBtn" class="btn btn-secondary mb-2">이미지 추가</button></label>
            <input type="file" name="itemImg" multiple="multiple" class="form-control" th:errorclass="field-error"
                   placeholder="이미지를 선택하세요." />

            <div class="field-error" th:errors="*{itemImg}"></div>
            <div id="imgContainer"></div>

            <div th:each="img : ${itemImgs}" th:id="'imageDiv_' + ${img.id}" class="image-preview">
                <img th:src="@{/images/} + ${img.imgName}" alt="Image Preview" />
                <button type="button" class="btn btn-danger"
                        th:onclick="'removeImage(\'' + ${itemId} + '\', \'' + ${img.id} + '\')'">삭제</button>
            </div>
        </div>

        <br /> <br />

        <button type="submit" class="btn btn-primary">수정</button>
    </form>
</div>

<div class="footer">
    <div th:replace="~{fragments/footer :: footer}"></div>
</div>

<script th:inline="javascript">
    function removeImage(itemId, itemImgId) {
        var confirmation = confirm("이미지를 삭제하시겠습니까?");

        if (confirmation) {
            var url = '/admin/items/deleteImg/' + itemId + '/' + itemImgId;

            fetch(url, {
                method: 'DELETE'
            })
            .then(response => {
                if (response.ok) {
                    //이미지 삭제 성공 시 화면에서 이미지를 제거
                    var imageDiv = document.getElementById('imageDiv_' + itemImgId);
                    if (imageDiv) {
                        imageDiv.remove();
                    }
                } else {
                    alert('이미지 삭제에 실패했습니다.');
                }
            })
                .catch(error => console.error('Error deleting image:', error));
        }
    }
</script>

<script>
    document.getElementById('addImgBtn').addEventListener('click', function() {
        var fileInput = document.createElement('input');
        fileInput.type = 'file';
        fileInput.name = 'itemImg';
        fileInput.classList.add('form-control');
        fileInput.classList.add('mb-2');
        fileInput.classList.add('custom-input-style');

        fileInput.addEventListener('change', function(event) {
            var file = event.target.files[0];
            var reader = new FileReader();

            reader.onload = function(event) {
                var img = document.createElement('img');
                img.src = event.target.result;
                img.alt = 'Image Preview';

                var deleteBtn = document.createElement('button');
                deleteBtn.type = 'button';
                deleteBtn.classList.add('btn');
                deleteBtn.classList.add('btn-danger');
                deleteBtn.textContent = '삭제';
                deleteBtn.addEventListener('click', function() {
                    img.parentNode.remove(); //이미지를 감싸는 div 요소를 삭제
                    fileInput.remove(); //파일 업로드 input 요소도 삭제
                });

                var imgDiv = document.createElement('div');
                imgDiv.classList.add('image-preview');
                imgDiv.appendChild(img);
                imgDiv.appendChild(deleteBtn); //삭제 버튼 추가

                //이미지들을 감싸는 부모 요소의 맨 끝에 새로운 이미지 컨테이너를 추가
                var imgContainer = document.getElementById('imgContainer');
                imgContainer.appendChild(imgDiv);
            };

            reader.readAsDataURL(file);
        });

        //이미지 추가 input 요소를 가져와서 이전 요소의 바로 밑에 삽입
        var imgContainer = document.getElementById('imgContainer');
        imgContainer.appendChild(fileInput);
    });
</script>

</body>
</html>