<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Item List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/fragments.css}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
<div class="header">
    <div th:replace="~{fragments/header :: header}"></div>
</div>

<div class="container">
    <a href="/"><h1>DRESS SHOP</h1></a>
    <br /> <br />

    <h3>상품 목록</h3>
    <hr />

    <table class="table">
        <thead>
        <tr>
            <th>상품 번호</th>
            <th>상품 이름</th>
            <th>상품 가격</th>
            <th>상품 수량</th>
            <th>카테고리</th>
            <th>판매 여부</th>
            <th>수정</th>
            <th>삭제</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="item : ${items}">
            <td th:text="${item.id}"></td>
            <td th:text="${item.itemName}"></td>
            <td th:text="${item.price}"></td>
            <td th:text="${item.quantity}"></td>
            <td th:text="${item.categoryName}"></td>

            <td>
                <span th:if="${item.itemSellStatus == 'SELL'}">판매중</span>
                <span th:if="${item.itemSellStatus == 'SOLD_OUT'}">품절</span>
                <span th:if="${item.itemSellStatus == 'STOP_SELL'}">판매 중지</span>
            </td>

            <td>
                <a th:href="@{/admin/items/edit/{itemId} (itemId=${item.id})}"
                   class="btn btn-info" style="color: white;">수정</a>
            </td>

            <td>
                <a th:href="@{/admin/items/delete/{itemId} (itemId=${item.id})}"
                   class="btn btn-danger" style="color: white;">삭제</a>
            </td>
        </tr>
        </tbody>
    </table>

    <a href="/admin/items/save" class="btn btn-primary" style="color: white;">상품 등록</a>
</div>

<div class="footer">
    <div th:replace="~{fragments/footer :: footer}"></div>
</div>
</body>
</html>