<html lang="" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/fragments.css}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .fieldError {
            border-color: crimson;
        }
    </style>
    <title>Item</title>
</head>

<body>
<div class="header">
    <div th:replace="~{fragments/header :: header}"></div>
</div>

<div class="container">
    <a href="/"><h1>DRESS SHOP</h1></a>
    <br /> <br />

    <h3>상품 등록</h3>
    <hr />

    <form role="form" action="/admin/items/save" th:object="${itemForm}" method="post">

        <div class="form-group" th:classappend="${#fields.hasErrors('itemName')} ? 'has-error' : ''">
            <label th:for="itemName">상품명</label>
            <input type="text" th:field="*{itemName}" class="form-control" placeholder="상품명을 입력하세요." />
            <p class="help-block" th:if="${#fields.hasErrors('itemName')}" th:errors="*{itemName}"></p>
        </div>

        <div class="form-group" th:classappend="${#fields.hasErrors('price')} ? 'has-error' : ''">
            <label th:for="price">가격</label>
            <input type="number" th:field="*{price}" class="form-control" placeholder="가격을 입력하세요." />
            <p class="help-block" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></p>
        </div>

        <div class="form-group" th:classappend="${#fields.hasErrors('quantity')} ? 'has-error' : ''">
            <label th:for="quantity">상품 수량</label>
            <input type="number" th:field="*{quantity}" class="form-control" placeholder="상품 수량을 입력하세요." />
            <p class="help-block" th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}"></p>
        </div>

        <div class="form-group" th:classappend="${#fields.hasErrors('categoryId')} ? 'has-error' : ''">
            <label th:for="categoryId">카테고리</label>
            <select th:field="*{categoryId}" class="form-control">
                <option value="">카테고리를 선택하세요.</option>
                <option th:each="category : ${categories}"
                        th:value="${category.id}"
                        th:text="${category.categoryName}"></option>
            </select>
            <p class="help-block" th:if="${#fields.hasErrors('categoryId')}" th:errors="*{categoryId}"></p>
        </div>

        <!-- 각 필드의 오류 메시지 출력 -->
        <div th:if="${errors != null}">
            <p class="text-danger" th:each="error : ${errors}" th:text="${error.defaultMessage}"></p>
        </div>

        <button type="submit" class="btn btn-primary">등록</button>
    </form>
</div>

<div class="footer">
    <div th:replace="~{fragments/footer :: footer}"></div>
</div>
</body>
</html>
